.footerContent{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 50px;
   
}
.footer{
    position: relative;
    margin-top: 130px;
}
footer{
    
    padding:100px 200px 10px 200px;
    background-color: #F8F8F8;
}


.primaryLogo{
    width: 150px;
    margin-bottom: 10px;
}
.money, .Engage, .product{
    line-height: 2.4;
}

.primary{
    line-height: 2;
}
.primary .socialmedia img{
    width: 40px;
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50%;
    border: none;
}
.primary p{
    margin: 5px 10px;
    color: #AFB5C0;
}
.subMain{
    /* margin: 100px 300px 10px 300px; */
    
    position: absolute;
    top: -103px;
    left: 19%;
    background: white;
}
.subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    line-height: 1.6;
    width: 944px;
    border-radius: 9px;
    flex-wrap: wrap;

}
.subscribe button{
    margin-top: 20px;
  padding: 15px 50px;
  border-radius: 7px;
  border: none;
  background-color: #f53838;
  color: white;
  font-weight: bold;
  box-shadow: 0px 10px 20px 0px #f538386e;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
    footer{
        padding:0;
    } 
    .footerContent{
        padding: 20px;
    }
    .subscribe{
        width: fit-content;
        padding: 20px;
    }
    .subMain{
        top: -250px;
        left: auto;
        margin:10px 20px;
    }
    .subscribe button{
        padding: 10px 30px;
    }
    .footer{
        margin-top: 300px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width:768px) and (min-width: 600px) {
    footer{
        padding:10px;
    }
    .subscribe{
        width: fit-content;
    }
    .subMain{
        top: -130px;
        left: 15%;
    }
    .footer{
        margin-top: 200px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (max-width:992px) and (min-width: 768px) {
    footer{
        padding:100px 10px 10px 10px;
    }
    .subscribe{
        width: fit-content;
    }
    .subMain{
        top: -130px;
        left: 15%;
    }

}
/* Large devices (laptops/desktops, 992px and up) */
@media (max-width:1200px) and (min-width: 992px) {
    footer{
        padding:10px;
    }
    .subscribe{
        width: 600px;
    }
    .subMain{
        top: -145px;
    }
    .footer{
        margin-top: 170px;
    }
   
}